
  <header id="realedge">
    <div class="container">
      <div class="realedge-content">
        <h1 class="banner-heading">{{ product.title }}</h1>
        <p class="banner-text">{{ product.field_banner_ }}</p>
        <div class="banner-btn-div">
          <a href="{{ product.field_button_get_quote_url.0['#url'] }}" class="banner-btn">{{ product.field_button_get_quote_url.0['#title'] }}</a>
          <a href="{{ product.field_banner_button_e_book.0['#url'] }}" class="banner-btn1">{{ product.field_banner_button_e_book.0['#title'] }}</a>
        </div>
      </div>
    </div>
  </header>
  <section id="product-details" class="py-5">
    <div class="container">
      <h2 class="l-heading">{{ 'Know Your RealEdge'|t }}</h2>
      <div class="bottom-line"></div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="prod-img">
           {{ product.field_homepage_banner }}
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="prod-content">
            {{ product.body }}
          </div>

             
          <div class="detailing">
            <h6 class="font-weight-bold">{{ 'Offering'|t }}</h6>
            <ul class="prod-list">
             {{ view_paragraph }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="features" class="py-5">
    <div class="container">
      <h2 class="l-heading">Product Features</h2>
      <div class="bottom-line"></div>
      <div class="row text-center">
        {{ feature }}
      </div>
    </div>
  </section>
  {{ our_customer }}
  