<body id="home">
  <header id="realring">
    <div class="container">
      <div class="realedge-content">
        <h1 class="banner-heading">{{ product.title }}</h1>
        <p class="banner-text">{{ product.field_banner_ }}</p>
         <div class="banner-btn-div">
          <a href="{{ product.field_button_get_quote_url.0['#url'] }}" class="banner-btn">{{ product.field_button_get_quote_url.0['#title'] }}</a>
          <a href="{{ product.field_banner_button_e_book.0['#url'] }}" class="banner-btn1">{{ product.field_banner_button_e_book.0['#title'] }}</a>
        </div>     </div>
    </div>
  </header>
  <section id="product-details" class="py-5">
    <div class="container">
      <h2 class="l-heading">{{ 'Know Your REALRING'|t }}</h2>
      <div class="bottom-line"></div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="prod-img">
             {{ product.field_product_image }}
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="prod-content">
           {{ product.body }}
          </div>
          {{ product.field_ring_sizes }}
        </div>
      </div>
    </div>
  </section>
  <section id="features" class="py-5">
    <div class="container">
      <h2 class="l-heading">{{ 'Product Benefits'|t }}</h2>
      <div class="bottom-line"></div>
      <div class="row text-center">
       
   {{ view_paragraph }}
        
      </div>
    </div>
  </section>
{{ our_customer }}
  </section>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>