{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}



<section id="registration" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="signup">
            <div class="user-icon">
              <i class="fas fa-pencil-alt"></i>
            </div>
            <div class="user-info">
              <h2 class="user-title">New To SRMB?</h2>
              <p class="user-para">Sign up</p>
          {{ register_form }}
          <p class="form-para">Or Sign Up Using</p>
                <a href="{{ base_url}}/user/login/facebook" class="form-btn1"><i class="fab fa-facebook-f"></i> Sign in with Facebook</a>
                <a href="{{ base_url}}/user/login/google" class="form-btn2"><i class="fab fa-google"></i> Sign in with Google</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div class="signup">
            <div class="user-icon">
              <i class="fas fa-pencil-alt"></i>
            </div>
            <div class="user-info login-info">
              <h2 class="user-title">Registered Member?</h2>
              <p class="user-para">Sign in</p>
           <form{{ attributes }}>
  {{ children }}
</form>
<ul class="form-list">
                  <li>
                    <div class="form-check">
                    </div>
                  </li>
                  <li><a href='{{ base_url }}/user/password'>Forgot Password?</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>