<nav id="main-nav">
    <div class="container">
      <div class="site-logo">
          <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
        <img src="{{ base_url }}\themes\custom\srm\img\logo_2nd.png" alt="#">
         </a>
      </div>
      <div class="nav-div">
        <ul class="help">
          <li class="select">{{ srm_languageswitcher }}</li>

          <li class="nav-list-item1"><a href="#" class="nav-list-item-link">Help &amp; Contact</a></li>
        </ul>
        {{ menu }}
      </div>
     </div></nav>
